@using DoAnCoSo.Models;
@model IEnumerable<PhanHoiTuKH>

@{
    ViewBag.Title = "PhanHoiTuKH";
    Layout = "~/Views/Layouts/AdminLayout.cshtml";
}

<div class="table-title">
    <div class="row">
        <div class="col-sm-6">
            <h2>Phản hồi từ khách hàng</h2>
        </div>
    </div>
</div>

<table class="table table-striped table-hover">
    <thead>
        <th>Họ tên</th>
        <th>Email</th>
        <th> Tiêu đề</th>
        <th> Nội dung</th>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.HoTen</td>
            <td>@item.Email</td>
            <td>@item.TieuDe</td>
            <td>@item.NoiDung</td>
        </tr>
        }
    </tbody>
    </table>