<ul class="nav nav-pills flex-column mb-auto textdark">
    <li class="nav-item">
        <a href="@Url.Action("Index","QuanLyPhong")" class="nav-link" aria-current="page"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
    </li>

    <li>
        <a href="@Url.Action("DanhSachPhong","QuanLyPhong")" class="nav-link"><i class="fa fa-hotel" aria-hidden="true"></i> Quản Lý Phòng</a>
    </li>

    <li>
        <a href="@Url.Action("Index","Home")" class="nav-link"><i class="fa fa-leaf" aria-hidden="true"></i> Thoát</a>
    </li>
</ul>
