
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Layouts/TrangChuChoTrangCon.cshtml";
}

<section class="about_history_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d_flex align-items-center">
                <div class="about_content ">
                    <h2 class="title title_color">Về Khách Sạn<br>Của Chúng Tôi</h2>
                    <p>Dalat Palace Hotel tọa lạc tại trung tâm thành phố Đà Lạt, cách Dinh Bảo Đại chưa đến 300 m. Tọa lạc trong một công viên tư nhân, 
                    khách sạn thông gió tự nhiên này có nhà hàng, spa và Wi-Fi miễn phí. <br>
                    Các phòng nghỉ có thiết kế mở tại Palace Dalat trang nhã với lối trang trí kiểu thuộc địa Pháp của những năm 1920 và sàn gỗ cứng.
                    Mỗi phòng đều được trang bị minibar, TV và tiện nghi pha cà phê/trà. Khách sạn cũng cung cấp dịch vụ phòng 24 giờ.</p>
                </div>
            </div>
            <div class="col-md-6">
                <img class="img-fluid" src="/Content/image/about.jpg" alt="img">
            </div>
        </div>
    </div>
</section>

