
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Layouts/TrangChuChoTrangCon.cshtml";
}

<div class="whole-wrap" align="center">
    <div class="container">
        <div class="section-top-border" style="padding: 169px 169px;">
            <div class="row">
                <div class="col-sm">
                    <h3 class="mb-30 title_color">Đăng Nhập</h3>

                    @using(Html.BeginForm("Login","Home",FormMethod.Post))
                    {
                        <div class="mt-10">
                            <input type="email" name="username" placeholder="Email đăng nhập" required="" class="single-input">
                        </div>
                        <div class="mt-10">
                            <input type="password" name="password" placeholder="Mật khẩu" required="" class="single-input">
                        </div>
                        <br>
                        <h2 style="color:red">@ViewBag.DangNhapKhongThanhCong</h2>
                        <div class="mt-10">
                            @*<a href="#" class="genric-btn info circle arrow">Đăng Nhập<span class="lnr lnr-arrow-right"></span></a>*@
                            <input  type="submit" value="Đăng Nhập" class="genric-btn info circle arrow"/>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

