
@{
    ViewBag.Title = "Policy";
    Layout = "~/Views/Layouts/TrangChuChoTrangCon.cshtml";
}

<section class="about_history_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d_flex align-items-center">
                <div class="about_content ">
                    <h2 class="title title_color">Chính Sách Đặt Phòng</h2>
                    <h4>Dalat Palace Heritage Hotel</h4>
                    <ul>
                        <li>Khách được yêu cầu xuất trình giấy tờ tùy thân có ảnh và thẻ tín dụng lúc nhận phòng.</li>
                        <li>Thời gian nhận phòng sau 14h và trả phòng trước 12h.</li>
                        <li>Các chính sách hủy và thanh toán trước có khác biệt dựa trên loại chỗ nghỉ, vui lòng liên hệ hotline để được hướng dẫn thêm.</li>
                        <li>Không có yêu cầu về độ tuổi khi nhận phòng. Trẻ em từ 12 tuổi trở lên được tính như người lớn tại chỗ nghỉ này.</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <img class="img-fluid" src="~/Content/image/about.jpg" alt="img">
            </div>
        </div>
    </div>
</section>

